*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.img{
    width: 100%;
    height: 25rem;
    margin-top: 0;
    object-fit: cover;
    object-position: center;
    position: relative;
    } 

a{
    
    position: relative;
    top: -800px;
    left: 1000px;
    text-decoration: none;
    color: rgb(2, 2, 97);
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 15rem;
    
    }





   
